# ─── app-api ───────────────────────────────────────────────
DATABASE_URL=
UPSTASH_REDIS_URL=
UPSTASH_REDIS_TOKEN=
CLERK_SECRET_KEY=
ADMIN_KEY=
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# ─── app-web ───────────────────────────────────────────────
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
